<h1>Enter your search</h1>
<form action='/' method='POST'>
    <label for='cityInput'>City:</label></br>
    <input required type='text' name='cityInput' /> </br>
    <label for='countryInput'>Country:</label></br>
    <input required type='text' name='countryInput' /></br>
    <select id='searchType' name='searchType'>
        <option selected value='current'>Current</option>
        <option value='forecast'>Forecast</option>
    </select></br>
    <button type='submit'>Search</button>
</form>