<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/css/style.css' />
    <title>City Search</title>
</head>

<body>


    <h1>Enter your search</h1>
    <form action='/search' method='POST'>
        <label for='cityInput'>City:</label></br>
        <input required type='text' name='cityInput' /> </br>
        <label for='countryInput'>Country:</label></br>
        <input required type='text' name='countryInput' /></br>
        <button type='submit'>Search</button>
    </form>
    <script src='/js/main.js'></script>
</body>

</html>