<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Something's gone wrong!</title>
</head>

<body>
    <h3>It looks like there's a problem.</br> We don't recognise that URL</h3>
    {{>Navbar}}
</body>

</html>