<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something's gone wrong!</title>
</head>

<body>
    <h3>It looks like you've entered some information wrong, we can't find that place in our database.</br> Make sure
        you spell the city right and use the ISO 3166 standard code for the country. Codes can be in any of alpha-2,
        alpha-3 or numeric formats</h3>
</body>

</html>