<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Something's gone wrong!</title>
</head>

<body>
    {{>Search}}
    <h3>It looks like there's a problem.</br> Make sure you spell the city right and use an <a
            href='https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes'>ISO 3166 </a>standard code for
        the country. Codes can be in any of alpha-2, alpha-3 or numeric formats</h3>
    {{>Navbar}}
</body>

</html>